<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Radical finder</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<style type="text/css">
		body > div {
			max-width: 800px;
			margin:auto;
		}

	</style>
</head>
<body>
	<div class="pure-g">
		<div class="pure-u-1">
			<h1>Radical finder</h1>
			<h4>Un trovatore radicale</h4>
		</div>
	</div>
	<div class="pure-g">
		<div class="pure-u-1">
			<%= yield %>
		</div>
	</div>
	
</body>
</html>
